<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>	<string>org.nanoapps.video-player</string>
	<key>CFBundleName</key>		<string>Video Player</string>
	<key>CFBundleExecutable</key>	<string>video_player</string>
	<key>HBAppKind</key>			<integer>1</integer>
	<key>HBIconGlyph</key>		<string>film</string>
	<key>HBIconColor</key>		<string>#ff375f</string>
</dict>
</plist>
